# Studio 1 - Web Scraping - Ryan Jacobs

## Import dependencies
---

In [51]:
import requests
import pandas as pd
from bs4 import BeautifulSoup

## Get URL
---

In [52]:
url = "https://webpages.charlotte.edu/mscipion/"
r = requests.get(url)
print(r)

<Response [200]>

## Create soup object
---

In [53]:
# Create soup object
soup = BeautifulSoup(r.text, 'lxml')

## Find table tag and table headers
---

In [54]:
table = soup.find("table")
# table

In [55]:
# find the column headers
header = table.find_all('th')
header

[<th>Student</th>,
 <th>Favourite Computer Language</th>,
 <th>Years of Experience</th>]

## Put the headers into a list
---

In [56]:
# put column titles into a list 
titles = []

for i in header:
    title = i.text
    titles.append(title)

titles

['Student', 'Favourite Computer Language', 'Years of Experience']

## Find all values in table row tag
---

In [57]:
rows = table.find_all('tr')
# rows

In [58]:
rows[1].find_all('td')[:3]

## Put it into a dataframe
---

In [59]:
df = pd.DataFrame(columns=titles) # i put the df in here because everytime i ran the cell more than once and it kept increasing the length of df
for i in rows[1:]:
    data = i.find_all('td')
    row = [tr.text for tr in data]
    l = len(df)
    df.loc[l] = row

len(df)

6

In [63]:
df

  Student Favourite Computer Language Years of Experience
0    Fred                      Kotlin                   4
1   Paula                      Python                   2
2   Ernst                        Java                   7
3  Isabel                         C++                   3
4    Tony                       Pearl                   7
5   Maria                       Cobol                  15